/* 1-column grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-1-col{margin-right:0;}

/* 2-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-2-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-2-col:nth-of-type(2n){margin-right:0;}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-2-col{margin-right:0;}
}

/* 3-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col:nth-of-type(3n){margin-right:0;}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-3-col:nth-of-type(3n){margin-right:0;}
}

/* 4-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(4n){margin-right:0;}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-4-col:nth-of-type(3n){margin-right:0;}
}

/* 5-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(5n){margin-right:0;}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-5-col:nth-of-type(3n){margin-right:0;}
}

/* 6-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:0;}

@media only screen and (min-width: 1024px) and (max-width: 1112px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(5n){margin-right:0;}
}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(6n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-6-col:nth-of-type(3n){margin-right:0;}
}

/* 7-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:0;}

@media only screen and (min-width: 1113px) and (max-width: 1276px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:0;}
}

@media only screen and (min-width: 1024px) and (max-width: 1112px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(5n){margin-right:0;}
}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(7n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(6n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-7-col:nth-of-type(3n){margin-right:0;}
}

/* 8-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:0;}

@media only screen and (min-width: 1277px) and (max-width: 1320px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:0;}
}

@media only screen and (min-width: 1113px) and (max-width: 1276px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:0;}
}

@media only screen and (min-width: 1024px) and (max-width: 1112px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(5n){margin-right:0;}
}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(8n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(7n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(6n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-8-col:nth-of-type(3n){margin-right:0;}
}

/* 9-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:0;}

@media only screen and (min-width: 1321px) and (max-width: 1365px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:0;}
}

@media only screen and (min-width: 1277px) and (max-width: 1320px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:0;}
}

@media only screen and (min-width: 1113px) and (max-width: 1276px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:0;}
}

@media only screen and (min-width: 1024px) and (max-width: 1112px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(5n){margin-right:0;}
}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(9n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(8n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(7n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(6n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-9-col:nth-of-type(3n){margin-right:0;}
}

/* 10-columns grid-css */
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:0;}

@media only screen and (min-width: 1351px) and (max-width: 1365px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:0;}
}

@media only screen and (min-width: 1321px) and (max-width: 1350px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:0;}
}

@media only screen and (min-width: 1277px) and (max-width: 1320px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:0;}
}

@media only screen and (min-width: 1113px) and (max-width: 1276px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:0;}
}

@media only screen and (min-width: 1024px) and (max-width: 1112px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:1%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(5n){margin-right:0;}
}

@media only screen and (min-width: 921px) and (max-width: 1023px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(4n){margin-right:0;}
}

@media only screen and (min-width: 720px) and (max-width: 920px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(3n){margin-right:0;}
}

@media only screen and (min-width: 414px) and (max-width: 719px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(5n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(4n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(3n){margin-right:2%;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(2n){margin-right:0;}
}

@media only screen and (max-width: 413px) {
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col{margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(10n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(9n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(8n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(7n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(6n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(5n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(4n){margin-right:0;}
.simple-grid-masonry-inactive .simple-grid-grid-post.simple-grid-10-col:nth-of-type(3n){margin-right:0;}
}